<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <%= render "users/shared/register_error_message", resource: resource %>
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                  Create and account
              </h1>
              <%= form_with model: resource, url: user_registration_path, method: :post, data: { turbo: false } do |f| %>
                <div class="mb-6">
                  <%= f.label :email, class: "block mt-4 text-sm font-medium text-gray-900" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                <div class="mb-6">
                  <%= f.label :first_name, class: "block mt-4 text-sm font-medium text-gray-900" %><br />
                  <%= f.email_field :first_name, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                <div class="mb-6">
                  <%= f.label :last_name, class: "block mt-4 text-sm font-medium text-gray-900" %><br />
                  <%= f.email_field :last_name, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                 <div class="mb-6">
                  <%= f.label :address, class: "block mt-4 text-sm font-medium text-gray-900" %><br />
                  <%= f.email_field :address, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                 <div class="mb-6">
                  <%= f.label :phone, class: "block mt-4 text-sm font-medium text-gray-900" %><br />
                  <%= f.email_field :phone, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                <div class="mb-6">
                  <%= f.label :password, class: "block mb-5 text-sm font-medium text-gray-900" %>
                  <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                <div class="mb-6">
                  <%= f.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" %>
                </div>

                <div class="actions">
                  <%= f.submit "Create an account", class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
                </div>
              <% end %>
          </div>
      </div>
  </div>
</section>
